@charset "utf-8";

footer {
    position: relative;
    bottom: 200px;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgb(7, 66, 170), rgb(0, 8, 22));
}

footer h1 {
    position: relative;
    top: 200px;
    color: white;
    font-size: 70px;
    text-align: center;
    cursor: default;
}

footer h3 {
    position: relative;
    top: 250px;
    color: white;
    text-align: center;
    cursor: default;
    font-size: 30px;
}