@charset "utf-8"; 
/* ------------------------------------------
* Filename:responsive.css
* Author:MADIVE
------------------------------------------ */

@media (max-width:321px) {
    .lifetime_step.step_01 .radio.border label {padding:35px 10px 25px}
    .certificate_btn a {padding-left:55px}
    .checkbox.terms_check .gray_box label > a {padding-right:0}
    .checkbox.terms_check .gray_box a label > span {padding-right:0;}
}

@media (max-width:339px) {
    #header h2 {width:calc(100% - 104px)}
    .mydata_main .item .screen p br {display:none}
}
@media (min-width:710px) {
    .mydata_main .catchphrase {background-position-y:top;}
}

@media (max-height:620px) {
    .login .fixd_btn.login_main_btn {position:static; margin-top:60px}
}
