@charset "utf-8";

.footer {
    position: relative;
    top: 80px;
    width: 100%;
    height: 500px;
    background: black;
}

.first {
    position: relative;
    top: 100px;
    left: 200px;
    float: left;
    width: 250px;
    height: 250px;
    border-right: 1px solid gray;
}

.first p {
    font-size: 15px;
    cursor: default;
    color: white;
}


.first_a {
    width: 150px;
    height: 200px;
}

.first_a a {
    font-size: 15px;
    text-decoration: none;
    color: gray;
}

.first_a a:hover {
    transition: 0.5s;
    color: white;
}

.second {
    position: relative;
    top: 100px;
    left: 250px;
    width: 500px;
    height: 170px;
    border-bottom: 1px solid gray;
    float: left;
}

.second p {
    font-size: 15px;
    color: white;
    cursor: default;
}

.second_a1 {
    width: 250px;
    height: 100px;
    float: left;
}

.second_a2 {
    width: 250px;
    height: 100px;
    float: left;

}

.second_a1 a {
    text-decoration: none;
    color: gray;
}

.second_a1 a:hover {
    transition: 0.5s;
    color: white;
}

.second_a2 a {
    text-decoration: none;
    color: gray;
}

.second_a2 a:hover {
    transition: 0.5s;
    color: white;
}

.third {
    position: relative;
    top: 250px;
    width: 500px;
    height: 100px;
    left: 500px;
}

.third a {
    position: relative;
    right: 250px;
    bottom: 130px;
    font-size: 30px;
    margin-left: 10px;
    color: gray;
    text-decoration: none;
}

.third a:hover {
    transition: 0.5s;
    color: white;
}

.fourth {
    position: relative;
    left: 300px;
    width: 300px;
    height: 250px;
    float: left;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.fourth p {
    position: relative;
    left: 30px;
    font-size: 15px;
    color: white;
    cursor: default;
}

.fourth_a {
    position: relative;
    left: 30px;
    width: 200px;
    height: 150px;
}

.fourth_a a {
    color: gray;
    text-decoration: none;
}

.fourth_a a:hover {
    transition: 0.5s;
    color: white;
}

.fifth {
    position: relative;
    left: 320px;
    width: 300px;
    height: 200px;
    float: left;
}

.fifth p {
    color: white;
    font-size: 15px;
}

.fifth_a {
    width: 100%;
    height: 150px;
}

.fifth_a a {
    color: gray;
    text-decoration: none;
}

.fifth_a a:hover {
    color: white;
    transition: 0.5s
}

.noti {
    position: relative;
    top: 50px;
    left: 200px;
    width: 1400px;
    margin: auto;
    height: 50px;
    float: left;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.noti p {
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 15px;
    cursor: default;
    color: white;
    font-weight: bold;
}