@charset "utf-8";

body {
    overflow: hidden;
}

.container {
    width: 300px;
    height: 270px;
    margin-left: 1px;
    border: 3px solid #eee;
}

.form-group {
    width: 200px;
    margin: auto;
}

.form-group:first-child {
    padding-top: 20px;
}

#footer {
    position: relative;
    margin: auto;
    width: 200px;
    top: 15px;
}

#footer #button {
    position: relative;
    left: 42px;
    background: black;
    color: white;
}

#footer #button:hover {
    background: white;
    color: black;
}