@charset "utf-8";

body {
    background: black;

}



#content {
    width: 100%;
    min-height: 2500px;
    background: url(D:/SHW/popl/img/list-Background-1.jpg);
}

#bar {
    position: relative;
    top: 120px;
    width: 100%;
    min-height: 2300px;
    background: rgba(0, 0, 0, 0.7);
}

#box {
    margin: auto;
    min-height: 2300px;
    width: 90%;
    background: rgba(255, 255, 255, 0.2);
}

#game-bar {
    position: relative;
    top: 20px;
    margin: auto;
    width: 90%;
    height: 350px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid black;
    box-shadow: 0 0 10px black;
}

#image {
    position: relative;
    float: left;
    top: 8px;
    left: 10px;
    width: 40%;
    height: 330px;
    background: black;
}

#image img {
    width: 100%;
    height: 100%;
}

#info {
    position: relative;
    top: 8px;
    right: 10px;
    float: right;
    width: 56%;
    height: 280px;
}

#info h3 {
    position: relative;
    left: 20px;
    color: white;
    cursor: default;
}


#info h4 {
    position: relative;
    left: 20px;
    color: white;
    cursor: default;
}

#game_info {
    position: relative;
    text-align: left;
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
    bottom: 10px;
    left: 10px;
    width: 95%;
    min-height: 200px;
    cursor: default;
}

#sub {
    position: relative;
    margin: auto;
    top: 30px;
    width: 90%;
    height: 300px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid black;
    box-shadow: 0 0 10px 0 black;
}

#video {
    position: relative;
    float: left;
    top: 10px;
    left: 10px;
    width: 50%;
    height: 280px;

}

#video video {
    width: 100%;
    height: 100%;
}


#shop_and_go {
    position: relative;
    top: 50px;
    right: 3%;
    width: 45%;
    height: 200px;
    float: right;
}

#shop_and_go button {
    height: 80px;
    margin-top: 10px;
    color: black;
    background: white;
    border: 1px solid gray;
    font-weight: bold;
    font-size: 18px;
}

#shop_and_go button:hover {
    background: #eee;
}

#board {
    position: relative;

    float: left;
    top: 30px;
    width: 100%;
    height: 50px;

}

#board button {
    height: 100%;
    background: rgba(40, 243, 199, 1);
    color: black;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 0 0 5px 0 black;
}

#board button:hover {
    background: rgba(70, 300, 230, 1);
}

#subtext {
    position: relative;
    top: 40px;
    float: left;
    width: 100%;
    height: 1200px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid black;
    box-shadow: 0 0 10px 0 black;
}

#comment {
    position: relative;
    top: 15px;
    width: 200px;
    height: 40px;

    margin: auto;
}

#comment p {
    font-weight: bold;
    color: white;
    font-size: 20px;
    cursor: default;
    text-align: center;
}

.text {
    position: relative;
    top: 20px;
    margin: auto;
    width: 95%;
    height: 90%;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    box-shadow: 0 0 10px 0 black inset;
}

#content:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.text table {
    background: black;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
    width: 97%;
    cursor: default;
}

.text button {
    float: right;
    width: 40px;
    height: 20px;
    font-size: 10px;
    color: black;
}

.text button:hover {
    background: rgba(40, 243, 199, 1);
    border: 1px solid black;
}

table tbody {
    color: black;
    cursor: auto;
}

#reply {
    position: relative;
    top: 80px;
    float: left;
    width: 100%;
    height: 250px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
}

#reply_box {
    position: relative;
    float: left;
    top: 5%;
    left: 20px;
    width: 80%;
    height: 90%;
    background: rgba(255, 255, 255, 0.9);
    text-align: left;
    border: 1px solid black;
}

#reply input {
    position: relative;
    top: 5%;
    width: 18%;
    float: left;
    height: 90%;
    font-size: 20px;
    font-weight: bold;
    background: rgba(40, 243, 199, 1);
    border: 1px solid black;
}

#reply input:hover {
    background: rgba(70, 300, 230, 1);
}