@charset "utf-8";

#adv-xs {
    position: relative;
    top: 50px;
    width: 100%;
    height: 450px;
}

#xs_slide {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#xs-info {
    position: relative;
    top: 70px;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
}

#loginbox {
    margin: auto;
    width: 350px;
    height: 100%;
}

.xs-btn {
    position: relative;
    top: 10px;
    font-size: 20px;
    width: 150px;
    height: 60px;
    background: black;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

.xs-btn:hover {
    background: white;
    color: black;
}

#pc-xs {
    position: relative;
    top: -590px;
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 0 black inset;
}

#pc-xs-box {
    width: 300px;
    height: 300px;
    margin: auto;
}

#pc-xs-img {
    position: relative;
    top: 30px;
    margin: auto;
    width: 150px;
    height: 100%;
}

#pc-xs-box img {
    width: 150px;
    height: 150px;
}

#pc-xs-btn {
    position: relative;
    top: -100px;
    width: 140px;
    height: 30px;
    margin: auto;
}

#pc-xs-btn button {
    background: black;
    color: white;
    width: 140px;
    height: 30px;
}

/***/
#ps-xs {
    position: relative;
    top: -590px;
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 0 black inset;
}

#ps-xs-box {
    width: 300px;
    height: 300px;
    margin: auto;
}

#ps-xs-img {
    position: relative;
    top: 30px;
    margin: auto;
    width: 150px;
    height: 100%;
}

#ps-xs-box img {
    width: 150px;
    height: 150px;
}

#ps-xs-btn {
    position: relative;
    top: -100px;
    width: 140px;
    height: 30px;
    margin: auto;
}

#ps-xs-btn button {
    background: black;
    color: white;
    width: 140px;
    height: 30px;
}

/***/

#xbox-xs {
    position: relative;
    top: -590px;
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 0 black inset;
}

#xbox-xs-box {
    width: 300px;
    height: 300px;
    margin: auto;
}

#xbox-xs-img {
    position: relative;
    top: 30px;
    margin: auto;
    width: 150px;
    height: 100%;
}

#xbox-xs-box img {
    width: 150px;
    height: 150px;
}

#xbox-xs-btn {
    position: relative;
    top: -100px;
    width: 140px;
    height: 30px;
    margin: auto;
}

#xbox-xs-btn button {
    background: black;
    color: white;
    width: 140px;
    height: 30px;
}

/***/

#nin-xs {
    position: relative;
    top: -590px;
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 0 black inset;
}

#nin-xs-box {
    width: 300px;
    height: 300px;
    margin: auto;
}

#nin-xs-img {
    position: relative;
    top: 70px;
    margin: auto;
    width: 150px;
    height: 100%;
}

#nin-xs-box img {
    width: 150px;
    height: 150px;
}

#nin-xs-btn {
    position: relative;
    top: -100px;
    width: 140px;
    height: 30px;
    margin: auto;
}

#nin-xs-btn button {
    background: black;
    color: white;
    width: 140px;
    height: 30px;
}

/***/

#mob-xs {
    position: relative;
    top: -590px;
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 0 black inset;
}

#ps-xs-box {
    width: 300px;
    height: 300px;
    margin: auto;
}

#mob-xs-img {
    position: relative;
    top: 50px;
    margin: auto;
    width: 150px;
    height: 100%;
}

#mob-xs-box img {
    width: 150px;
    height: 150px;
}

#mob-xs-btn {
    position: relative;
    top: 80px;
    width: 140px;
    height: 30px;
    margin: auto;
}

#mob-xs-btn button {
    background: black;
    color: white;
    width: 140px;
    height: 30px;
}

#last {
    position: relative;
    top: -590px;
    width: 100%;
    height: 150px;
    background: white;
    box-shadow: 0 0 10px 0 black inset;
}

#last-xs-box {
    position: relative;
    top: 25px;
    margin: auto;
    width: 300px;
    height: 50px;

}

.last-btn {
    position: relative;
    top: 9px;
    margin-top: 10px;
    width: 300px;
    background: black;
    color: white;
}