@charset "utf-8";

body {
    overflow: hidden;
}

.content {
    width: 100%;
    height: 970px;
}

.identify {
    color: red;
}

.content img {
    position: absolute;
}

.regist_box {
    position: relative;
    top: 200px;
    margin: auto;
    width: 500px;
    height: 530px;
    background: white;
    box-shadow: 0 0 20px 0 black;
}

#header {
    width: 100%;
    height: 60px;
    background: black;
}

.top img {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 50px;
    height: 50px;
}

#header p button {
    position: relative;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 440px;
    background: black;
    color: white;
    border: 0;
}

#main {
    position: relative;
    top: 10px;
    margin: auto;
    width: 470px;
    height: 550px;
}

#main legend {
    position: relative;
    top: 10px;
    text-align: center;
}

#gender1,
#gender2 {
    width: 20px;
    height: 20px;
}

.datepicker-container {
    font-family: "Helvetica", "나눔고딕", "맑은고딕"
}

#footer {
    position: relative;
    bottom: 180px;
    margin: auto;
    width: 460px;
}

#footer button {
    background: black;
    color: white;
}

#footer button:hover {
    background: white;
    color: black;
}


.form-group:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.col-md-10 {
    width: 80%;
    display: block;
    float: left;
}

#change {
    width: 70px;
    height: 30px;
    background: black;
    color: white;
    border: 0;
}

#change:hover {
    color: black;
    background: white;
    border: 1px solid black;
}

#user_id {
    cursor: default;
}

#remove {
    width: 70px;
    height: 30px;
    background: black;
    color: white;
    border: 0;
}

#remove:hover {
    color: black;
    background: white;
    border: 1px solid black;
}

#click:hover {
    background: white;
    color: black;
}