@charser "utf-8";

body {
    overflow: hidden;
}

.content {
    position: relative;
    top: 30px;
    width: 100%;
    height: 930px;
    background: black;
}

#title {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url(D:/SHW/popl/img/list-Background-1.jpg);
}

#title-box {
    position: relative;
    top: 100px;
    margin: auto;
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.4);
}

#title-dropdown {
    position: relative;
    left: 30px;
    width: 100px;
    height: 30px;
    float: left;
}

#title-top {

    margin: auto;
    width: 100%;
    height: 30px;
    background: black;
}

#title-bar {
    margin: auto;
    width: 80px;
    height: 100%;
    color: white;
    cursor: default;
    font-size: 15px;
}

#title-bar img {
    width: 30px;
    height: 30px;
}

#inside-box-lg {
    margin: auto;
    width: 1500px;
    height: 669px;
    background: rgba(255, 255, 255, 0.8);
}

#inside-box-md {
    margin: auto;
    width: 1000px;
    height: 669px;
    background: rgba(255, 255, 255, 0.8);
}

#inside-box-sm {
    margin: auto;
    width: 800px;
    height: 669px;
    background: rgba(255, 255, 255, 0.8);
}

#inside-box-xs {
    margin: auto;
    width: 500px;
    height: 669px;
    background: rgba(255, 255, 255, 0.8);
}

#title-bottom {
    width: 100%;
    height: 30px;
    background: black;
}

/***/
#list-lg {
    position: relative;
    top: 10px;
    margin: auto;
    width: 1400px;
    height: 600px;
}

#button-lg {
    position: relative;
    bottom: 80px;
    margin: auto;
    width: 300px;
    height: 60px;
}

#button-lg a:first-child {
    position: relative;
    top: 5px;
}

#button-lg a {
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

#button-lg a:hover {
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    color: rgba(40, 243, 199, 0.7);
}

#button-lg a:last-child {
    position: relative;
    top: 5px;
}

#list-lg a {
    position: relative;
    top: 30px;
    box-shadow: 0 0 10px 0 black;
    text-align: center;
    color: black;
}

#list-lg a:hover {
    text-decoration: none;
}

#list-lg a img {
    width: 300px;
    height: 200px;
}

/***/

#list-md {
    position: relative;
    top: 20px;
    margin: auto;
    width: 900px;
    height: 550px;
}



#list-md a {
    position: relative;
    top: 15px;
    box-shadow: 0 0 10px 0 black;
    text-align: center;
    color: black;
}

#list-md a:hover {
    text-decoration: none;
}

#list-md a img {
    width: 300px;
    height: 200px;
}

/***/

#list-sm {
    position: relative;
    margin: auto;
    width: 700px;
    height: 100%;
}



#list-sm a {
    position: relative;
    width: 300px;
    top: 10px;
    box-shadow: 0 0 10px 0 black;
    text-align: center;
    color: black;
}

#list-sm a:hover {
    text-decoration: none;
}

#list-sm a img {
    width: 300px;
    height: 130px;
}

/***/

#list-xs {
    margin: auto;
    width: 400px;
    height: 100%;

}



#list-xs a {
    margin: auto;
    position: relative;
    width: 300px;
    top: 20px;
    box-shadow: 0 0 10px 0 black;
    text-align: center;
    color: black;
}

#list-xs a:hover {
    text-decoration: none;
}

#list-xs a img {
    float: left;
    width: 300px;
    height: 100px;
}

#title-dropdown {
    position: relative;
    top: 3px;
    height: 25px;
    font-weight: bold;
    box-shadow: 0 0 1px 0 black inset;
}